modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "FULLSTACK_JS"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyDCD-nsrOpMDG_-pCWa-cM7pGMixH9sZkY"
VITE_FIREBASE_AUTH_DOMAIN = "insta-7cdb7.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "insta-7cdb7"
VITE_FIREBASE_STORAGE_BUCKET = "insta-7cdb7.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "798054769425"
VITE_FIREBASE_APP_ID = "1:798054769425:web:c76f5dc53d4c9234b0e2b0"
VITE_FIREBASE_MEASUREMENT_ID = "G-5L5BG6HJ4X"
FIREBASE_PROJECT_ID = "insta-7cdb7"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@insta-7cdb7.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCvJpx/0jBf3fDV
44IyI6VhAAQsubzUQS8gPvRWW2NhjS2P3v79Uj6v2KgeJqsKav3BzUgnb1amOs/P
5LeJbSWq5LaQI3ZkVzb+wjURRc3wV6j9C7jAYB4MscowocOHRnpvN8eH538JjwE6
05JCYd0EZLvfWUtH85oC+duSInzoNWqV3ib8+zR0EpUTRfD4IM3P6Wy6aZ/ZtnZd
MYaSTuTdIyZnx2x2leyqBvxs6JLX+4mIjXnejaKnus4TQvwLx5ldMSQl5AAVCesg
IzDVRoA8nuWWc9/lxSVcUIDvjCpkV8TUj2Cv/TRi8vgQncIyKRMnTqHl6DTF1h11
lm1oqs8hAgMBAAECggEADKZb/rJSSpY3rub10AO5jcInywgmHmlPy0Mot/T1PkYp
QH8RSP/v5Zje+YB+8WttRNo76Bc3OZ29RQ1GgS8oHYnTsqDRC+mtn+QsW4FAYKeg
HZiDYSd//Bg6G12Pht1c+dvcNhFO4ESbCOHfahpx0T+qPvUOxhVOrgDYLht+DHIy
jHyCWLCGm1sCBWRrAMuvybpnvdt8HKvQuNeYkG5YljaXzoQYLolvw2sb0MARd2Yd
TEiX4f6cND+Nny8f5ivkB1fUyuTGUAWIKLDS3uvBkr+BgSI+oTx5oun65SnRI2+S
N06BJ/eS3IjMgsXEAOA2VvA8c/OBTjjsl6RQ7amxHQKBgQDfzhBWCLRofKirVN79
uaj0eQB4/GBLha6/RxUTvo/HT17Kus87aOBlIDLqT1DHgDd+7KMCCHRMPFzFkyvJ
tC+AQI2zmQZ+weOv/OyuztLbBY1qx2H1g5U3WgynyXoEYVDv69RXizfqHCFq2Id1
xYJDW0dtgyUIKL0O+2CFcMx0DQKBgQDIWMpZq+dR43MyBVapn0VXl9RAprMozty1
oY2kFYF77gCbtPq//ouVXXVM5o3DZOCMH0gmDephcmzRr3g8J/u2coUr51VEKkhc
2Qkge3xd8ZrQ6zwrSYFLbxeaZt4IysDBeNRSm1O7xOWIpR84opAqUHq1wvgcLENf
+wiXnKWeZQKBgQCsGy0Y3CzQRTz4NJYfDA1Po1WntHzg1vbhBWrB+kNbBEBjKnF+
wFH/slk1MrVuFb2Xj6ZzQ8kbbzfwgBKmVDhLKllOCZmjFLthdOEWNNqVr5lmydkd
EolHPaqJxThd8fBp8DMk91ySXfuczNKu0Kox3hn5r2Zk9d8djFZXh7zSaQKBgQCL
uGh+OwWatV4cD18N8naAjPFImTkvB30i6mUGfr0LucMQ1BlfllywMTpiBBPvpcV3
00UUzPWdOhir74yRn2zLI3i+UpnDbR2EKxRTY+sq9Rj8BGG06pFSE0rJsl28kfH1
u5ePeKXfuIQ/VLC+ZZjW+cNqSWuQ8kmWgVLPsT5LhQKBgQC6FadCmbduYVpfgDgz
Dsjlu7DRajorKjiJgFC51HTcR9z9W7oY54FS+B7rYx0NNfIfSUiRFvjRJioA0f1x
yufI8f+CGxQH5gRlqVeRk6TTP4+AImHhsuKzOlYTx91ugw6VfGdiY+WVo4Q76zb/
0akoWpIQjl9e7X1tcqN4qAEIwA==
-----END PRIVATE KEY-----
"""
SUPABASE_DATABASE_URL = "postgresql://postgres.dyveoelnlevspncqdgjo:Anjali%23%23890Kavi@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
